.button {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);

  &:hover {
    cursor: pointer;
  }
}

.primary {
  background-color: var(--color-medium-blue);
  color: white;

  &:hover {
    color: var(--color-medium-blue);
    background-color: white;
  }
}

.outline {
  background-color: white;
  color: var(--color-medium-blue);
  border: 1px solid var(--color-medium-blue);

  &:hover {
    color: white;
    background-color: var(--color-medium-blue);
  }
}

.danger {
  background-color: var(--color-light-pink);
  color: white;

  &:hover {
    color: var(--color-secondary);
    background-color: white;
    border: 1px solid var(--color-secondary);
  }
}
