.container {
  box-shadow: var(--shadow-dark);
  padding: 2rem;
  max-width: 400px;
  border-radius: 5px;
  margin-inline: auto;
}

.header {
  border-bottom: 1px solid var(--color-medium-blue);
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.list {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
