.table__content {
  margin-bottom: 15px;
  table-layout: auto;
  width: 100%;
  text-align: center;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 40px -15px rgba(179, 179, 181, 1);
  padding: 17px 17px 17px 17px;
  overflow: hidden;
}
