.container {
  padding: 2rem;
  box-shadow: var(--shadow-dark);
  border-radius: 4px;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
}

.content {
  display: flex;
  padding-inline: 3rem;
}

.view {
  background-color: #fff;
  flex: 1;
  height: 90vh;
}

.logo {
  height: 30px;
  width: 185px;
}

.usernav {
  display: flex;
  align-items: center;

  & > * {
    padding-inline: 1rem;
    cursor: pointer;
  }
}
