.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rebeccapurple;
  padding-inline: 2rem;
}

.navmain {
  display: flex;
  align-items: center;
  gap: 2rem;
}
