.button {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background-color: white;
  color: var(--color-medium-blue);
  border: 1px solid var(--color-medium-blue);

  &:hover {
    color: white;
    background-color: var(--color-medium-blue);
  }
}

.link {
  color: var(--color-medium-blue);
  border-bottom: 1px solid var(--color-medium-blue);

  &:hover {
    border-bottom: 1px solid transparent;
  }
}
